#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# main packaging script based on dh7 syntax

%:
	dh $@


# fix lintian issues:
# - systemd-service-file-outside-lib
# - package-contains-timestamped-gzip
# note: dh automagically gzips man and README files correctly!
override_dh_auto_configure:
	dh_auto_configure
	sed -i \
	  -e 's/^SYSTEMDDIR = .*/SYSTEMDDIR = \/lib\/systemd\/system/' \
	  -e 's/$(DESTDIR)$(DOCDIR)\/ChangeLog/$(DESTDIR)$(DOCDIR)\/changelog/' \
	  -e '/gzip -9 /d' \
	  Makefile
